<?xml version="1.0"?>
<config>
    <modules>
        <Monsoon_Test>
            <version>0.1.0</version>
        </Monsoon_Test>
    </modules>
    <global>
        <models>
            <monsoon_test>
                <class>Monsoon_Test_Model</class>
            </monsoon_test>
        </models>
        <helpers>
            <monsoon_test>
                <class>Monsoon_Test_Helper</class>
            </monsoon_test>
        </helpers>
        <resources>
            <monsoon_test_setup>
                <setup>
                    <module>Monsoon_Test</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </monsoon_test_setup>
        </resources>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <catalog_add_topmenu_items>
                        <class>monsoon_test/observer</class>
                        <method>addCatalogToTopmenuItems</method>
                    </catalog_add_topmenu_items>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </global>
    <frontend>
        <category>
            <collection>
                <attributes>
                    <is_click_able_link/>
                </attributes>
            </collection>
        </category>
    </frontend>
</config>